section {
  margin: 2em;
}

[class*='g-'] {
  float: left;
}

.g-1-12 { width: 8.33333333333333%;}
.g-2-12 { width: 16.6666666666667%;}
.g-3-12 { width: 25%;}
.g-4-12 { width: 33.3333333333333%;}
.g-5-12 { width: 41.6666666666667%;}
.g-6-12 { width: 50%;}
.g-7-12 { width: 58.3333333333333%;}
.g-8-12 { width: 66.6666666666667%;}
.g-9-12 { width: 75%;}
.g-10-12 { width: 83.3333333333333%;}
.g-11-12 { width: 91.6666666666667%;}
.g-12-12 { width: 100%;}

.grid:after, section:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 35em) {
  .g-1-12, .g-2-12, .g-3-12, .g-4-12, .g-5-12, .g-6-12, .g-7-12, .g-8-12, .g-9-12, .g-10-12, .g-11-12, .g-12-12 {
    width: 100%;
  }
}
